
html{
    background: rgb(255, 255, 255);
    font-family: Georgia, serif;
}

P{
    color: black;
}

.clear{
  all:none;
}

header{
    background: rgb(214, 214, 214);
}

footer{
    background: rgb(214, 214, 214);
}

a{  /*makes links look normal*/
    color: inherit;
    text-decoration: inherit;
}

body{
    margin: 0px;
}

.boxed{
    display: flex; 
    align-items: center;
}

.Parralax{
    margin: 0%;
    background: url("../Img/Soteria1.jpg");
    background-attachment: fixed;;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Parralax1{
    margin: 0%;
    background: url("../Img/FixMyCrack.PNG");
    background-attachment: fixed;;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, 10px;
}

.ul1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 46px;
    background-color: #333;

    display: flex;
    justify-content: space-between;


  }
  
  li {
    float: left;
  }
  
  .liA, .dropbutton {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }

  .liA:hover, .dropdown:hover, .dropdown.active,/*.dropbutton*/ .liA.active{
    background-color: rgb(88, 88, 88);
  }

  .liB:hover{
    background-color: rgb(184, 184, 184);
    
  }

  .liB{
    float: initial; 
    padding: 15px; 
    text-align: center;
  }


  li.dropdown{
      display: inline-block;
  }

  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdowncontent a.active{

    background: rgb(230, 230, 230);
  }
  
  
  /* Change the link color to #111 (black) on hover */

  a.activated{
    background-color: #d6d6d6;
  }

 .dropdowncontent a:hover {
    background-color: #f1f1f1;
 }

 .dropdown:hover .dropdowncontent {
    display: block;
 }

 .contentsLi{
    all: initial;
    cursor: pointer;
    float: left;
    
 }

 #P1, #P2, #P3 {
  scroll-margin-top: 50px;
}

.Section{
  height: 1000px;
}

.dtA.lt {
  display: list-item;
  list-style-type: disc;
  }
